<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text font-size-18">
      <div>
        Sistema de Asistencia DUOC
        
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="book">
  

  <ion-content [fullscreen]="true" class="ion-padding-horizontal page" #page >

  <ion-title class="ion-padding-top">
      <ion-label>
        <h1 class="ion-text-center"> ¡Bienvenido(a) {{usuario.nombre}} {{usuario.apellido}} !</h1>
      </ion-label>
      
  </ion-title>

  <b class="ion-text-center">
    <h4> Mis datos </h4>
  </b>
  
  
  <ion-item #itemCuenta>
    <ion-input labelPlacement="floating" label="Cuenta" [(ngModel)]="usuario.cuenta">
      
    </ion-input>
  </ion-item>

  <ion-item #itemNombre>
    <ion-input labelPlacement="floating" label="Nombre" [(ngModel)]="usuario.nombre">
      
    </ion-input>
  </ion-item>

  <ion-item #itemApellido>
    <ion-input labelPlacement="floating" label="Apellido" [(ngModel)]="usuario.apellido">
      
    </ion-input>
  </ion-item>

  <ion-item #itemEducacion>

    <ion-label position="floating"> Educación
    </ion-label>

    <ion-select placeholder="Seleccione nivel" [(ngModel)]="usuario.nivelEducacional!.id">
      <ion-select-option *ngFor="let nivel of listaNivelesEducacionales"
      [value]="nivel.id">
      {{ nivel.nombre }}

      </ion-select-option> 
      
    </ion-select>

  </ion-item>

  <ion-item #itemFechaNacimiento>
    <table>
      <tr>
        <td class="font-size-12">
          Nacimiento
        </td>
        <td class="cell-aling-right">
          <input matInput
          [matDatepicker]="fechaNacimiento"
          [(ngModel)]="usuario.fechaNacimiento"
          placeholder="Ej dd/mm/yyyy"
          class="date-width">
        </td>

        <td class="cell-width-0">
          <mat-datepicker-toggle matSufixx [for]="fechaNacimiento">
              <mat-datepicker #fechaNacimiento></mat-datepicker>
          </mat-datepicker-toggle>
        </td>
      </tr>
    </table> 
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button (click)="limpiar1()" ion-button shape="block" size="small" >
          Limpiar 1
        </button>
      </ion-col>

      <ion-col col-3>
        <button (click)="limpiar2()" ion-button shape="block" size="small" >
          Limpiar 2
        </button>
      </ion-col>
      <ion-col col-3>
        <button (click)="createPageTurnAnimation()" ion-button shape="block" size="small" >
          Vuelta hoja
        </button>
      </ion-col>

      <ion-col col-3>
        <button (click)="mostrarDatosPersona()" ion-button shape="block" size="small" >
          Mostrar Datos
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

</div>