<ion-content>
  <div class="center-container">
    <div class="ion-padding-vertical">

      <ion-card class="ion-text-center">
        
        <img alt="DUOC" src="../../../assets/img/pao.jpg" class="foto-portada" />
      
        <ion-card-content>

          <ion-card-header>
            <ion-toolbar>
              <h1>Sistema de Asistencia DUOC</h1>
              <br>
              <h2>Inicio de sesión</h2>
            </ion-toolbar>
          </ion-card-header>

          <ion-item>
            <ion-input [(ngModel)]="usuario.cuenta" label="Correo" labelPlacement="floating" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="usuario.password" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="centrar">
                <ion-button shape="block" size="small" (click)="ingresar()">Ingresar</ion-button>
              </ion-col>
            </ion-row>
            <ion-label>
              <br>
              <a routerLink="">Crea tu cuenta gratis</a>
              <br><br>
            </ion-label>
          </ion-grid>
        </ion-card-content>

      </ion-card>

    </div>
  </div>
</ion-content>